/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/* breeserif */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    /* font-family: Saira, Bree Serif; */
    
}

a {
  color: inherit;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    padding: 0 2rem;
    height: 51px;
    /* width: 100%; */
    font-family: Saira;
    background-color: black;
  }

  .topbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
    padding: 0;
    margin: 0;
  }
  

  
  .topbar li a {
    display: block;
    padding: 1rem;
    min-width: 5rem;
    background-color: rgb(0, 0, 0);
    color: white;
    
    
  }

  .ridlst {
    display: none;  /* Changed from display: flex */
    list-style-type: none;
  }
  
  /* Show sub-menu on hover of parent list item */
  .topbar li:hover .ridlst {
    display: flex; /* Show sub-menu on hover */

    position: absolute; /* Position outside flexbox flow */
    top: 100%; /* Position below parent list item */
    left: 0; /* Align to left of parent */
    background-color: rgba(0, 0, 0, 0.3); /* Optional background for sub-menu */
  }


/* VIDEO BANNER */


.embed-container { 
    position: relative; 
    padding-top: 0;
    padding-bottom: 56.25%; 
    height: 0; overflow: hidden; 
    max-width: 100%; 
    background-color: black;
    position: relative;
  

  
}

  
.embed-container  iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
    
  }


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35); /* Black with 50% opacity */
}

.wts {
  color: white;
  z-index: 2;
  position: absolute;
  font-family: Saira;
  top: 50%; /* Align to the vertical center */
  left: 50%; /* Align to the horizontal center */
  transform: translate(-50%, -50%); /*Center the text*/
}


/* HOTEL */


/* title hotel */

div.head1 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    /* background-color: #bcb8b1; */
    background-color: black;
    color: white;
    font-family: Saira;
}

.align {
    position: absolute;
    font-size: 4rem;
    align-self: center;   
} 

.blankspace {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: black;
}




/* 5star */

.starRate5 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: black;
    color: white;

}

.align1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    align-self: center;   
} 

 .slides5star {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    color: rgb(11, 10, 10);
  }
 .slides5star > div {
    display: flex;
    flex-shrink: 0;
    width: 50%;
    height: 300px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    background: #506f97;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

div > .s5_1 {
    background-color:rgb(12, 12, 12); 
    width: 50%;
    height: 300px;
    color: black;
    overflow-y: hidden;
    justify-items: flex-start;
    
}
div > .s5_2 {
    background-color:rgb(12, 12, 12);
    width: 50%;
    height: 300px;
    color: black;
    overflow-y: hidden;
    justify-items: flex-start;
    
}

div > .s5_3 {
    background-color:rgb(12, 12, 12);
    width: 50%;
    height: 300px;
    color: black;
    overflow-y: hidden;
    justify-items: flex-start;
}


/* 4star */

.starRate4 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: black;
    color: white;

}

.align1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    align-self: center;   
} 

  .slides4star {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    color: white;
  }

.slides4star > div {
    display: flex;
    flex-shrink: 0;
    width: 40%;
    height: 300px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    background: black;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .swipe {
    font-size: 2rem;
    font-family:  saira, Bree serif;
    font-style: italic;
    font-weight: 300;
    position: relative;
  }

  .swipe > span {
    font-size: 3rem;
    position: absolute;
    font-weight: 200;
  }
 
  /* 3star */
  .starRate3 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: black;
    color: white;

}

.align1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    align-self: center;   
} 



  .slides3star {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    color: white;
  }
.slides3star > div {
    display: flex;
    flex-shrink: 0;
    width: 50%;
    height: 300px;
    
    scroll-snap-align: start;
    scroll-behavior: smooth;
    background: #06090d;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  /* #hotelgrad {
    background: linear-gradient(to bottom, black, #8a817c); /* Adjust colors as needed */
 

  /* FOOD */

  #hotelgrad {
    background: linear-gradient(to top, #8a817c, black); /* Adjust colors as needed */
}

div.head2 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: #8a817c;
    color: white;
    font-family: Saira;
}

.align2 {
    position: absolute;
    font-size: 4rem;
    align-self: center;   
} 

.blankspace2 {
    width: 100%;
    height: 300px;
    display: flex;
    background-color:#8a817c;
    
}


/* pallete colors:
    pink - e0afa0
    white -f4f3ee
    gray - bcb8b1
    brown - 8a817c
    darkerbrown - 463f3a

*/

.foodtry {
  /* background-color: #8a817c; */
  background-color: white;
  width: 100%;

  height: 800px;
  position: relative;
}

.centerFood {
  position: absolute; 
  padding: 20px;
  width: 50%;
  height: 580px;
  background-color: #8a817c;
  text-align: center;
  font-family:  Helvetica;
  font-style: italic;
  font-weight: 350;
  transition: all;
  display:flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;

}

.italicLeft:hover  {
  text-decoration: underline #070502;
  color: #070502;
  font-weight: 500;
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(25deg, 0deg);
}



/* trying to make the pop up */

.right {
  position: absolute;
  background-color:  #8a817c;
  width: 50%;
  height: 580px;
  right: 0;
  padding: 20px;
}
.rightside{
  position: absolute;
  display: flex;
  background-color:  #8a817c;
  width: 50%;
  height: 580px;
  right: 0;
  opacity: 0;
  padding: 20px;
  /* box-shadow: 0 0 0 20px; */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transition: opacity 0.5s; /* Add transition for smooth appearance */
}


.rightside > img {
  max-width: 100%; /* Ensure the image doesn't overflow */
  max-height: 100%; /* Ensure the image doesn't overflow */
}

/* Show the target pop-up */
.rightside:target {
  opacity: 1;
  
}
