@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

* {
    margin: 0;
}

header {
    background-color: blanchedalmond;
    height: 650px;
    width: 100%;
    text-align: center;
    position: relative;
   
    /* z-index: 100;  */
 } 

h1 {
    
    position: relative; 
    /* padding: 30px; */
    font-style: italic;
    font-size: 3rem;
    font-family: 'Preahvihear', sans-serif, 'Trebuchet MS';
    line-height: 135%;


 }

 header h3 {
    width: 400px;
    height: auto;
    position: relative;
    left: 0;
   
  
 }


 .rel-header {
    position: absolute;
    width: 400px;
    height: 200px;
    right: 90px;
    bottom: 220px;
}



.abs-rel-header  {
    position: absolute;
    /* bottom: 10%; */
    right: -30px;
    top: 110px;
    
    

}

 .font1 {
    padding: 15px;
    margin: 15px;
    font-family: 'Preahvihear', sans-serif, 'Trebuchet MS';
    top: 10px;
    right: 20px;
 } 

 .left-align {
    float: right;
    position: absolute;
    top: -50px;
    left:0;
    width: 650px;
    height: auto;
    
 }



nav {
    width: 100%;
    height: 50px;
    background-color:rgb(36, 29, 19, 60);
    color: blanchedalmond;
    text-align: right;
    display: inline-block;
    font-family:'Courier New', Courier, monospace; 
    position: absolute;
    z-index: 100; 
} 




nav ul{
    /* this inline is important! */
    display: inline;
    margin: 0;
    
    text-align: center;
    
    box-shadow: 0, 0, 5px rgba(0, 0, 0, 0.15);
 }

 nav ul li {
    font: bold 13px 'Trebuchet MS';
    display: inline-block;
    position: relative;
    padding: 15px 50px;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 0.9s;
 }

 nav ul li:hover {
    /* background-color: #555; */
    color: #fff;
 }

 nav ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.9s;
 }

 nav ul li ul li {
    background-color: rgb(36, 29, 19, 60);
    display: block ;
    padding: 10px 10px;
    color: #fff;
    

 }

 nav ul li ul li:hover {
    background: #666;
 }

 nav ul li:hover ul {
    display: inline-block;
    padding: 100;
    opacity: 100%;
    visibility: visible;
    font-family: 'Trebuchet MS';
 }


 .divided-section {
   background-color:rgb(36, 29, 19, 60);
   width: 100%;
   height: 80px;
 }

 /* Ingredient Lists */
 section {
   background-color:rgb(36, 29, 19, 60);
   width: 100%;
   height: 350px;
   color: #e9c3aba7;
   
 }

 aside {
   z-index: 90; 
   position: relative;
}

aside h3 {
  z-index: 130;
}

 .ingR1 {
font-family: 'Trebuchet MS', 'Preahvihear', sans-serif;
  text-align: center;
  width: 200px;
  height:100px;
  position: absolute;
  top: 0px;
  right: 250px;
 }

 aside h3 span.asterix {
   font-family: 'Trebuchet MS', 'Preahvihear', sans-serif;
   color:rgb(192, 186, 186);
   z-index: 130;
 }

 .ingR2 {
   font-family: 'Trebuchet MS', 'Preahvihear', sans-serif;
   width: 800px;
   height:200px;
   text-align: center;
   position: absolute;
   top: 330px;
   right: 350px;
   color:rgb(192, 186, 186);
 }
 

 .ingR3 {
   font-family: 'Trebuchet MS', 'Preahvihear', sans-serif;
   width: 200px;
   height:200px;
   /* text-align: center; */
   position: absolute;
   top: 40px;
   right: 225px;
 }

 .ingS1 {
   font-family: 'Trebuchet MS', 'Preahvihear', sans-serif;
   /* color: #fff; */
   text-align: center;
   position: absolute;
   width: auto;
   height: auto;
   top: 0px;
   left: 250px;
  
}

/* fix this */
 aside ul.ingS2 {
   font-family: 'Trebuchet MS', 'Preahvihear', sans-serif;
   position: absolute;
   width: 400px;
   height: 300px;
   top: 40px;
   left: 200px;
   

} 

/* Instructions */

article {
   background-color: blanchedalmond;
   width: 100%;
   height: 570px;
   position: relative;
}

article h3.instruct1 {
font-family: 'Trebuchet MS', 'Preahvihear', sans-serif;
  text-align: center;
  width: 400px;
  height:100px;
  position: absolute;
  top: 50px;
  left: 160px;
}

article ol.instruct1-1 {
   font-family: 'Trebuchet MS', 'Preahvihear', sans-serif;
   text-align: center;
   width: 400px;
   height:100px;
   position: absolute;
   top: 100px;
   left: 130px;
}

article h3.instruct2 {
   font-family: 'Trebuchet MS', 'Preahvihear', sans-serif;
   text-align: center;
   width: 400px;
   height:100px;
   position: absolute;
   top: 400px;
   left: 190px; 
}

article ol.instruct2-2 {
   font-family: 'Trebuchet MS', 'Preahvihear', sans-serif;
   text-align: center;
   width: 300px;
   height:100px;
   position: absolute;
   top: 450px;
   left: 190px; 
}

article img {
   width: 400px;
   height: auto;
   position: absolute;
   top: 100px;
   right: 130px;
   border-radius: 25px; 
}